.toggle-password{
    background: url('../../assets/images/eye-show.svg') no-repeat center / 80%;
    min-width: 50px;
    cursor: pointer;
}
.toggle-password.hide{
    background: url('../../assets/images/eye-hide.svg') no-repeat center / 80%;
}
i{
    position: absolute;
    min-width: 40px;
    min-height: 40px;
    right: 25px;
}
input{
    width: 100%;
}