.item-card{
    position: relative;
    flex:1 1 300px;
    max-width: 300px;
    height:200px;
    border-radius: 20px;
    border: 1px solid #b3b3b3;
    padding:10px;
    box-shadow: 0 0 10px 5px #b3b3b3;
    cursor: pointer;
    margin: 10px;
    text-align: center;
    transition: transform 500ms;
    overflow: hidden;
}
.item-card:hover{
    transform: scale(1.05);
}
.item-card .actions-menu{
    opacity: 0;
    transition: 500ms;
}
.item-card:hover .actions-menu{
    opacity: 1;
}
.item-card>img{
    height: 70%;
    width: 100%;
    margin-bottom: 10px;
}
.item-card>span{
    font-size: 1.5rem;
}
@media (hover: none) and (pointer: coarse) {
    .item-card .actions-menu{
        opacity: 1;
    }
}