.modal-wrapper{
    position: absolute;
    z-index: 10;
    background:rgba(100,100,100,0.5);
    left:0;
    top:0;
    height: 100%;
    width: 100%;
}

.modal-window{
    position: relative;
    margin: auto;
    background:#fafafa;
    z-index: 11;
    border-radius: 10px;
    border: #b3b3b3;
    overflow: hidden;
    top:0;
    width: fit-content;
    transform: translateY(-50%);
    animation-name: windowDown;
    animation-duration: .3s;
    animation-fill-mode: forwards;
}
@keyframes windowDown {
    from {
        top:0;
    }
    to{
        top:50%;
    }
}
.modal-title{
    background: #dfdfdf;
    padding:10px;
}
.modal-title h2{
    margin: 0;
}
.modal-content{
    padding: 10px;
}