body {
    font-family: 'Trebuchet MS', sans-serif;
    margin:0;
}
input{
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
label{
    margin:0 10px 10px 0;
}
*::-webkit-scrollbar {
    width: 10px;
}
*::-webkit-scrollbar-thumb {
    background-color: #b3b3b3;
    border-radius: 20px;
}
.content-block{
    padding:0 25px;
}
.flex-wrapper{
    display: flex;
    flex-wrap: wrap;
}
.btn-group{
    display: flex;
}
.btn-group .btn{
    margin: 10px;
    flex: 0 1 150px;
}
.btn{
    border: 1px solid transparent;
    border-radius: 10px;
    background-color: #bdbdbd;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    transition: background-color .15s, border .15s;
}
@media (max-width:400px) {
    .btn{
        padding: 10px;
    }
}
.btn-cancel{
    background-color: #942020;
}
.btn-cancel:hover{
    border-color: #942020;
    background-color: #771b1b;
}
.btn-confirm{
    background-color: #2544cc;
}
.btn-confirm:hover{
    border-color: #2544cc;
    background-color: #1c349c;
}
.auth-block{
    position: relative;
    margin: auto;
    top: 25vh;
    border-radius: 20px;
    border:1px solid #bdbdbd;
    box-shadow: 0 0 10px 5px #b3b3b3;
    width: 100%;
    max-width: 400px;
    height: fit-content;
}
.auth-dialog{
    display: flex;
    flex-direction: column;
    padding:0 25px;
}
.auth-dialog>label{
    margin-top: 0px;
    margin-bottom: 5px;
}
.auth-dialog input{
    margin-top:0;
}
.auth-dialog>button{
    margin-bottom:25px;
}
.input-error{
    margin-bottom: 0;
    border-color: red;
}
.input-confirm{
    border-color:#4dc683
}
.warning-span{
    color:red;
    font-size: 12px;
}